{{ define "main" }}
  <section class="section blog-single py-5">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div class="col-12">
          <h2 class="fs-1 fw-bold text-center text-primary">{{ .Title }}</h2>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-12 d-flex justify-content-center">
          <div class="custom-blog-content fs-5">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="row pb-5">
      </div>
    </div>
  </section>
{{ end }}
